@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
    outline: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.button {
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    background: rgb(29, 78, 216);
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.button:hover {
    background: rgb(30, 64, 175);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.other-details {
    font-size: 15px;
    color: rgb(100, 116, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.other-details .other-details-group {
    color: rgb(100, 116, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.form {
    margin: 45px 0px;
    border: 1px solid #e5e7eb;
    border-radius: 0.375rem;
}

.input-group .input-heading {
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea,
.input-group select {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgb(212, 212, 216);
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group select {
    padding: 0.6rem 0.75rem;
}

.input-group input[type="file"] {
    display: none;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
    border: 1px solid rgb(147, 197, 253);
}

.input-group .file-input label {
    display: block;
    padding: 26px 0px;
    border: 1px dashed rgb(229, 231, 235);
    border-radius: 6px;
    margin-top: 3px;
    text-align: center;
    color: #64748b;
}

.input-group .file-input label .icon {
    font-size: 40px;
}

.input-group .file-input label .title {
    font-size: 13px;
    font-weight: 600;
    line-height: 19.5px;
    margin-top: 5px;
}

.input-group .file-input label .title span {
    color: rgb(69, 62, 225);
}

.apply-form .submit {
    padding: 30px 0px;
    background: rgb(249, 249, 249);
    text-align: center;
}

.apply-form .submit-button {
    display: inline-block;
    border-radius: 0.375rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    padding: 15px 0px;
    width: 205px;
}

.input-group .input-num-text-groups {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group .input-num-text {
    display: flex;
    align-items: center;
}

.input-group .input-num-text .num {
    padding: 0.5rem 0.75rem;
    background: rgba(212, 212, 216, 0.685);
    border-radius: 0.25rem 0rem 0rem 0.26rem;
    border: 1px solid rgb(212, 212, 216);
}

.input-group .input-num-text .delete {
    margin-left: 10px;
    cursor: pointer;
    color: red;
}

.input-group .input-num-text input {
    border-radius: 0rem 0.25rem 0.25rem 0rem;
}

.ring-loading {
    text-align: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.end {
    text-align: center;
}

.end .end-logo {
    font-size: 60px;
    color: green;
}

.end .end-desc {
    margin-top: 20px;
    font-size: 25px;
}

.end .button {
    display: inline-block;
}

img.flip{
    transform: rotatey(0);
}
 img.flip:hover{
    animation:flip 1.5s ease-in-out forwards;
    
}

@keyframes flip{
    50%{transform: rotatey(180deg);}
}  