.careers .content .heading-desc {
    text-align: center;
    margin-bottom: 80px;
    max-width: 960px;
    margin: auto;
}

.careers .content .heading-desc .heading {
    margin-bottom: 0.625rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 43.57px;
}

.careers .content .heading-desc .desc {
    font-weight: 400;
    color: rgb(100, 116, 139);
    font-size: 15px;
    line-height: 18.15px;
}

.careers .current-openings {
    margin-bottom: 15px;
    max-width: 960px;
    margin: auto;
}

.careers .current-openings .openings {
    margin: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
